@using static FiveInARowWeb.About;
@using static FiveInARowWeb.UrlPath;
@using static FiveInARowWeb.DataCore;
@{
}
<head>
    <title>五子棋网页版</title>
    <script src="https://fastly.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="@Js.StartPage_Index" type="text/javascript"></script>
    <link rel="stylesheet" href="@Css.StartPage_Index" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script>
        var theUrlRoot = "@config.Website.Url.UrlRoot";
    </script>
</head>
<body>
    <div class="mainDiv">
    <p>欢迎来到五子棋网页版:D</p>
        <label for="userName">昵称: </label>
        <input type="text" id="userName"/>
        <br/>
        <label for="passcode">许可代码: </label>
        <input type="password" id="passcode" />
         <br/>
         <label for="teamSel">棋子阵营: </label>
        <select id="teamSel">
                <option value="white">白方</option>
                <option value="black">黑方</option>
        </select>
        <button onclick="StartGameClick()">开始游戏</button>
        <p id="errorOutput"></p>
    </div>
    <div class="aboutDiv">
        <p>@version_addV</p>
        <p>@copyright</p>
        <a href="@githubUrl">@githubUrl_addHead</a>
    </div>
</body>
